header {

    background: rgba(42, 157, 143, 1);
    height: 122px;
}

.image {
    padding: 38px 130px;
    display: inline-block;
    vertical-align: top;
}

li {

    list-style: none;
    display: inline-block;
    font-family: 'Nerko One', cursive;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

nav {
    vertical-align: middle;
    display: inline-block;
    padding-top: 46px;
    padding-left: 533px;

}

.post {
    margin-inline: 51px;
}

/* hederi dasrulda */
.section_div {
    margin-left: 800px;
    margin-top: 322px;
margin-bottom: 60px;

}

h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.first {
    color: rgba(77, 77, 77, 1);
    margin-left: 590px;
    width: 780px;
    height: 90px;
    font-size: 20px;
    font-family: 'Nerko One', cursive;
}